.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #333;
	padding: 1rem;

	&__logo {
		color: #fff;
		margin-left: auto; /* Changed from margin-right */
		font-size: 1.5rem;
	}

	&__menu {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;

		&-item {
			margin-right: 1rem;

			a {
				color: #fff;
				text-decoration: none;
				transition: color 0.3s ease;

				&:hover {
					color: #ccc;
				}
			}
		}
	}
}
