.page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-content {
	flex-grow: 1;
	overflow: hidden;

	padding: 1rem;
	// Add your page content styles here
	// Add a soft edge to the page-content container by adding a border-radius
	background-color: #ffffff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.page--main {
	.input-container {
		bottom: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
	}
}
.chat-container {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	overflow: auto;
	height: 100%;
}
.additional-content {
	max-width: 100%;
	margin: 0.5rem;
}

.additional-content__image {
	max-width: 100%;
	max-height: 200px;
}

.additional-content__text {
	max-width: 100%;
	word-wrap: break-word;
}
